.page {
  display: flex;
  flex-direction: column;
  justify-content: center;

  min-height: 100%;

  background-color: #181818;

  .logo {
    height: 2.25rem;
    width: 7.5rem;
    margin: 1.25rem 0 -4.25rem 1.25rem;
    z-index: 1;
  }
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  flex-basis: 0;
  width: 100%;
  margin-top: -1.25rem;
  font: 16px/14px 'spotifyFont', sans-serif;

  .decentralizedContainer {
    min-height: calc(100vh - var(--height-nav-bar) - var(--height-footer));
  }
}

@media screen and (min-width: 768px) {
  .page .logo {
    height: 3rem;
    width: 10rem;
    margin: 1.75rem 0 0 2rem;
  }

  .wrapper {
    margin-top: -1.75rem;
  }
}
