.containerArtistpage {
  width: 100vw;
  height: 100%;

  .artistpage {
    width: 100%;
    height: 100%;

    .artist {
      width: 100%;
      display: flex;
      align-items: end;
      justify-content: right;
      flex-direction: column;
    }

    .background {
      margin-top: 32px;
      width: 100%;
      height: 37vh;

      background: url('https://picsum.photos/640/640');
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .name {
      font-size: 53pt;
      font-weight: 500;
      margin-top: -3.25rem;
      margin-right: 1.75rem;
      color: white;
    }

    .pop {
      font-size: 10pt;
      font-weight: 500;
      margin-top: 3.5rem;
      margin-right: 2.25rem;
      color: white;
    }

    .music {
      padding-bottom: calc(4rem + var(--height-footer));
      height: calc(63vh - var(--height-nav-bar) - var(--height-footer));
      margin-top: 1.5rem;

      .text {
        font-size: 9pt;
        font-weight: 500;
        color: white;
        margin-left: 3rem;
        margin-bottom: 0.5rem;
      }

      .genres {
        display: flex;
        align-items: center;
        justify-content: center;

        .genre {
          padding: 1rem;
          height: 6rem;
          width: 100vw;
          margin: 0 2.5rem;
          background-color: #1d1d1d;
          margin-bottom: 1.75rem;
          color: white;
        }
      }

      .albums {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 0 2.5rem;
        gap: 1rem;

        .album {
          display: flex;
          align-items: center;
          height: 5rem;
          width: 100%;
          background-color: #1d1d1d;

          img {
            height: 100%;
          }

          .contentAlbum {
            display: flex;
            flex-direction: column;
            padding-left: 1.5rem;
            gap: 0.4rem;
            font-size: 10pt;
            font-weight: 500;
            color: white;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .containerArtistpage .artistpage .background {
    margin-top: 20px;
  }
}
