.artistpage {
  width: 100vw;

  .artist {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .background {
    background: url('https://picsum.photos/640/640');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 40vh;
  }

  .music {
    height: calc(63vh - var(--height-nav-bar) - var(--height-footer));

    .album img {
      height: 5rem;
    }
  }
}
