.layout {
  display: flex;
  flex-direction: column;
}

.nav-bar {
  background-color: var(--color-purple);
}

.content {
  overflow-x: hidden;
}

.footer {
  background-color: var(--color-dark-gray);
  padding: var(--padding);
}
